h1 {
  text-align:center;
  font-size: 40px;
  color:white;
  text-shadow: 2px 2px 4px #000000;
}

body {
  background-image:url('images/autumn-road.png');
  
}

small {
  text-align:center;
  display:block;
  margin-top: 750px;
  
}

a {
  color:white;
  text-shadow: 1px 1px 2px #000000;
}
