h1 {
  text-align:center;
  font-size: 40px;
  color:white;
  text-shadow: 2px 2px 4px #000000;
}

body {
  background-image:url('images/autumn-road.png');
  
}

p{
  font-size:0; 

}

/* visually hidden but available for screen readers */
.sr-only {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

small {
  text-align:center;
  display:block;
  margin-top: 700px;
  
}

a {
  color:white;
  text-shadow: 1px 1px 2px #000000;
}

.citationlist {
  color:white;
  text-shadow: 1px 1px 2px #000000;
  font-size:25px;
  
}

.car-image {
  position: absolute;
  left: 50%;
  top: 48%;
  transition: left 3s ease;
}

/*Code sourced from ChatGPT*/





